:root {
    --primary-text: aliceblue;
    --box-shadow: 0 20px 70px rgba(136, 9, 9, 0.5);
    --border-color:  rgba(255, 255, 255, 0.2); 
    --card-bg: rgba(20, 20, 30, 0.85);
    --border: 1px solid var(--border-color);
}

body {
    background: url(/img/historie_quiz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

main {
     display: flex;
    justify-content: center;
    align-items: center;
     margin: 0;
}

header {
    color:var(--primary-text);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.div1  {
    color: var(--primary-text);
    background: var(--card-bg);
    border: var(--border);
    border-radius: 30px;
    width: 400px;    
    max-width: 800px;
    padding: 60px;
    min-height: 200px;
    z-index: 1;
    box-shadow: var(--box-shadow); 
}

.quiz-container {
    animation: Slider 0.4s ease;
}

.slide {
    animation: animateDiv 0.5s ease; 
} 

#reset-button {
    display: none;
} 

@keyframes animateDiv {
    from {
        transform: translateX(300px);
        opacity: 0;
    }

    to {
         transform: translateX(0);
        opacity: 1;
    }
} 
